/*
// +---------------------------------------------------------------------------
// +  Datei: lucanlearn.github.io/css/lcl.css
// +  AutorIn: w dot doeringer ( at protonmail dot com)
// +  Beschreibung: CSS Ergänzung für LuCanLearn
// +  KorrektorIn:
// +  Status: 2026/02/09 jigsaw.w3.org/css-validator/validator as CSS3
// +  Revision: 2026/02/09 - Details am Ende der Datei
// +---------------------------------------------------------------------------
*/

/*
// +---------------------------------------------------------------------------
// + Font Lato - code copied from google page
// + 2025/03/17, wd
// +---------------------------------------------------------------------------
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*
// +--------------------------------------------------------------------------
// + generelle Voreinstellungen
// + 2025/03/17, wd
// +--------------------------------------------------------------------------
*/
body, .ui-widget, math { font-family:lato,verdana,arial,sans-serif; }

/* --- Übungsblätter Liste ------------------------------------------------- */
ol { list-style-position:inside; }

/* --- Probeprüfungen Liste ------------------------------------------------ */
dd > ol.embedded { list-style-position:outside; }

/* --- Lösungen; Einblenden über "sbm" in body ----------------------------- */
span.loesung { white-space:nowrap; overflow:hidden; }
span.loesung math { color:red; }

/*  border:none; padding:0.15em; padding-left:0.5em; padding-right:0.5em; */

/* --- math und weitere not wrapping --------------------------------------- */
math, math * { white-space:nowrap; }

/* buttons toggle ---------------------------------------------------------- */
/*   loesung-inplace toggles highlight color */
body:not(.sbm) span.loesung { display:none; }
body.sbm span.loesung:empty { display:none; }
body.sbm span.loesung-inplace { color:red; }

/* --- Versionsangabe klein einblenden ------------------ ------------------ */
h2::after {
  content: attr(data-version); font-size:x-small!important; opacity:0.5;
  position:absolute; right:0em;
}

/* --- levels  ------------------ ------------------------------------------ */
body:not(.display-advanced) *.advanced { opacity:0.5; }
li.advanced::marker { content:"#. "; font-size:110%; }

/* --- misc --------------------------------------------- ------------------ */
abbr { font-style:italic; color:chocolate; }
math.strong, mrow.strong, mfrac.strong, mn.strong, mi.strong, mo.strong { font-weight:bold; }
mn.em, mo.em { font-weight:bold; color:red; }
mn.strong, mo.strong { font-weight:bold; }
math ~ span.comment { opacity:0.5; margin-left:3em; }

/* --- a??????????????? Elemente gleich behandeln - buttons (bisher??) -------------------- */
/* --- min-* for UI --- */
button {
  position:fixed; z-index:1; top:3rem; right:3rem;
  padding:0em;
  min-height:1cm; min-width:1cm;
}
a[href] { padding:0.25em; padding-top:0.5em; text-decoration:none!important; }
body:not(.sbm) button > span#minus { display:none;; }
body.sbm button > span#plus { display:none; }

/*
// +-------------------------------------------------------------------------
// + print - page-break at every other section; etc...
// + 2025/02/19, wd
// +-------------------------------------------------------------------------
*/
@media print {
  section:nth-of-type(2n) { break-after:page; }
  section:nth-of-type(2n+1) > div { margin-bottom:2rem!important; }
  section > header { border:3.5pt solid!important; }
  section > div { border:none!important; }
  a { display:none; }
}

/*
// +---------------------------------------------------------------------------
// +  Liste der Aenderungen
// +  Datenelement       Datum        AutorIn       Beschreibung
// +---------------------------------------------------------------------------
// +  Modul              2025/02/18   w.doeringer   erste Version
// +
// --- Ende der Datei ---------------------------------------------------------
*/
