/*
// +---------------------------------------------------------------------------
// +  Datei: css/channel-two.css
// +  AutorIn: w dot doeringer (at fh-worms dot de)
// +  Beschreibung: CSS für "channel two" - Details in channels.css
// +  KorrektorIn:
// +  Status:   2015/01/26 jigsaw.w3.org/css-validator/validator as CSS3 (-)
// +  Revision: 2018/02/25 - Details am Ende der Datei
// +---------------------------------------------------------------------------
*/
.channel-zero-term { display:none!important; }
.channel-one-term { display:none!important; }

section[class~=channel-three] * { display:none!important; }
section *[class~=channel-three] { display:none!important; }
section[class~=channel-four] * { display:none!important; }
section *[class~=channel-four] { display:none!important; }

/* --- Debug responsive design --------------------------------------------- */
body[data-debugCSS]::before { content:"channel-two"; }

/*
// +---------------------------------------------------------------------------
// +  Liste der Aenderungen
// +  Datenelement       Datum        AutorIn       Beschreibung
// +---------------------------------------------------------------------------
// +  Modul              2015/01/26   w.doeringer   erste Version
// +
// --- Ende der Datei ---------------------------------------------------------
*/
/*
// +---------------------------------------------------------------------------
// +  Datei: css/lectures-layout-channel-two.css
// +  AutorIn: w dot doeringer (at fh-worms dot de)
// +  Beschreibung: CSS Style-Sheet Ergänzung
// +  KorrektorIn: 
// +  Status: 2015/01/26 jigsaw.w3.org/css-validator/validator as CSS3 (-)
// +  Revision: 2015/01/28 - Details am Ende der Datei
// +---------------------------------------------------------------------------
*/

/*
// +----------------------------------------------------------------------------
// + font-size - auf ursprüngliche 100% zurück. ???
// + 2013/08/13, wd
// +----------------------------------------------------------------------------
*/
body { font-size:92.5%!important; }
section footer > img { left:1em; }

/*
// +---------------------------------------------------------------------------
// +  Liste der Aenderungen
// +  Datenelement       Datum        AutorIn       Beschreibung
// +---------------------------------------------------------------------------
// +  Modul              2015/01/26   w.doeringer   erste Version
// +
// --- Ende der Datei ---------------------------------------------------------
*/
 /*
// +---------------------------------------------------------------------------
// +  Datei: css/lectures-content-channel-two.css
// +  AutorIn: w dot doeringer (at fh-worms dot de)
// +  Beschreibung: CSS Style-Sheet für Vorlesungsfolien - Ideen auch nach
// +    "www.AListAPart.com" und "jQueryUi.com" - die Inhalte
// +    "mobile first"
// +  KorrektorIn: 
// +  Status: 2015/01/27 jigsaw.w3.org/css-validator/validator as CSS3 (-)
// +  Revision: 2015/01/27 - Details am Ende der Datei
// +---------------------------------------------------------------------------
*/

code, table.command th { word-spacing:normal; }
dl dd { margin-bottom:1em; }

/*
// +---------------------------------------------------------------------------
// +  Liste der Aenderungen
// +  Datenelement       Datum        AutorIn       Beschreibung
// +---------------------------------------------------------------------------
// +  Modul              2015/01/27   w.doeringer   erste Version
// +
// --- Ende der Datei ---------------------------------------------------------
*/
 /*
// +---------------------------------------------------------------------------
// +  Datei: css/toc-channel-one.css
// +  AutorIn: w dot doeringer (at hs-worms dot de)
// +  Beschreibung: CSS Style-Sheet Ergänzung: toc als Liste
// +  KorrektorIn:
// +  Status:   2018/01/03 jigsaw.w3.org/css-validator/validator as CSS3 (-)
// +  Revision: 2018/01/03 - Details am Ende der Datei
// +---------------------------------------------------------------------------
*/

/* --- .toc ---------------------------------------------------------------- */
section.toc > div.ui-widget-content { padding:0em; }
section.ui-widget.toc h2[title]:after { display:none; }
ul.toc > li p { padding:0.2em 0.5em; }
ul.toc > li p[title]:after { font-size:75%; } /* Nummer */
ul.toc > li p:nth-of-type(1) { width:12em; }  /* #### */
ul.toc > li p:nth-of-type(-n+2) { display:table-cell;  }
ul.toc > li p:nth-of-type(2) > span:nth-of-type(1) { display:block; }
ul.toc > li p:nth-of-type(2) > span:nth-of-type(n+2) { display:inline-block; }
ul.toc > li p:nth-of-type(2) > span:nth-of-type(n+3):before { content:"+ "; }
ul.toc > li p:nth-of-type(n+2) > span:nth-of-type(n+2) { font-size:smaller; }
ul.toc > li > span:nth-of-type(n+1) { display:none; }

/* --- .content: Inhaltsverzeichnis ---------------------------------------- */
ul.toc.content > li { border-bottom:1pt solid; }
ul.toc.content > li p:nth-of-type(-n+2) {  border-bottom:none; border-top:none; }
ul.toc.content > li > p[title] { margin-left:0em!important; }
ul.toc.content > li > p[title] span.small { font-size:100%!important; }

/* --- .exam: Prüfungssachen ----------------------------------------------- */
ul.toc.exam { position:fixed; top:0.4em; right:5em; z-index:2; }
ul.toc.exam li { display:inline-block; }
ul.toc.exam li p { width:auto; height:2.25em; }
ul.toc.exam li p:nth-of-type(n+2) { font-weight:normal; padding-left:0em; }
ul.toc.exam li > p[class*="ui-state"] { padding-top:0.8em; }
ul.toc.exam li > p[class*="ui-state"] ~ p { display:none; }
ul.toc.exam li span { display:none; }
ul.toc.exam > li > span:first-of-type { position:absolute; font-size:50%; left:2em; top:0.4em; display:inline-block; }

/*
// +---------------------------------------------------------------------------
// +  Liste der Aenderungen
// +  Datenelement       Datum        AutorIn       Beschreibung
// +---------------------------------------------------------------------------
// +  Modul              2015/01/28   w.doeringer   erste Version
// +
// --- Ende der Datei ---------------------------------------------------------
*/
/*
// +----------------------------------------------------------------------------
// +  Datei: Internet/css/internet-channel-two.css
// +  AutorIn: w dot doeringer ( at hs-worms dot de)
// +  Beschreibung: CSS Style-Sheet Erg�nzung
// +  KorrektorIn: 
// +  Status:   2016/11/02 jigsaw.w3.org/css-validator/validator as CSS3
// +  Revision: 2016/11/02 - Details am Ende der Datei
// +----------------------------------------------------------------------------
*/

/* --- 01 ------------------------------------------------------------------ */
section#solar-system div:nth-of-type(1) { height:36em; }
section#milky-way div:nth-of-type(1) { height:36em; }
table#zipcode tr th { font-size:560%!important; }
                                                      
/*
// +----------------------------------------------------------------------------
// +  Liste der Aenderungen
// +  Datenelement       Datum        AutorIn       Beschreibung
// +----------------------------------------------------------------------------
// +  Modul              2016/10/24   w.doeringer   erste Version
// +
// +
// --- Ende der Datei ----------------------------------------------------------
*/
